n8n/workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "72b64737-4d1e-40c0-b5fd-eebc5d6659e2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fileSelector": "C:/Users/HP/.n8n-files/logs.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "d6b862b4-15d6-443d-9147-f12913f76970",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "7cce358a-7c13-42b8-ac80-f17eac3b7234",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const logs = $input.all();\n\nlet summary = `SmartDoc QA Weekly Summary\\n\\n`;\n\nsummary += `Total Questions: ${logs.length}\\n\\n`;\n\nsummary += `Questions Asked:\\n`;\n\nlogs.forEach((item, index) => {\n  summary += `${index + 1}. ${item.json.question}\\n`;\n});\n\nreturn [\n  {\n    json: {\n      summary: summary\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "ebfe5af4-88a6-42d5-8605-7646e6d971b0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fromEmail": "kuhu2903@gmail.com",
        "toEmail": "kuhu2903@gmail.com",
        "subject": "SmartDoc QA Weekly Summary",
        "emailFormat": "text",
        "text": "= {{$json.summary}}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        832,
        0
      ],
      "id": "7f14a8f6-669f-4b4f-82b1-f98b4e167295",
      "name": "Send an Email",
      "webhookId": "1c7683ea-1c74-4389-8202-ea413b0a86f1",
      "credentials": {
        "smtp": {
          "id": "jf6SwKQUwSYfv1PA",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "86a95ae8-aa8c-4d94-a01c-51ea94f22a0e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e1d2942c725c6b2d3e5e685d96ca0ae2e8a6e82b3ec1bed6066ed065ddb7505"
  },
  "id": "hcMCjMk3whpMzvqq",
  "tags": []
}